= form_for(@advert) do |f|
  .row
    .large-12.columns
      Основная информация:
      .line
      .large-12.columns
        .large-3.columns
          .field
            = f.label "Жилая:"
        .large-3.columns
          = f.check_box :living
        .large-3.columns
        .large-3.columns
      .large-12.columns
        .large-3.columns
          .field
            = f.label "Админское обьявление:"
        .large-3.columns
          = f.check_box :admin
        .large-3.columns
          .field
            = f.label "Название: *"
        .large-3.columns
          = f.text_field :title
      .large-6.columns
        .large-6.columns
          .field
            = f.label "Тип недвижимости: *"
        .large-6.columns
          = f.collection_select :category_id, Category.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Тип операции: *"
        .large-6.columns
          = f.collection_select :operation_type_id, OperationType.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Область: *"
        .large-6.columns
          = f.collection_select :region_id, Region.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Город: *"
        .large-6.columns
          = f.collection_select :city_id, City.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Район:"
        .large-6.columns
          = f.grouped_collection_select :district_id, City.order(:name), :districts, :title, :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Улица: *"
        .large-6.columns
          = f.grouped_collection_select :street_id, City.order(:name), :streets, :title, :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Номер дома:"
        .large-6.columns
          = f.text_field :house
        .large-6.columns
          .field
            = f.label "Фонд:"
        .large-6.columns
          = f.collection_select :fund_type_id, FundType.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Расположение обьекта:"
        .large-6.columns
          = f.collection_select :preporty_location_id, PreportyLocation.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Метро:"
        .large-6.columns
          = f.collection_select :metro_station_id, MetroStation.order(:name), :id, :title, include_blank: true
      .large-6.columns
        .large-6.columns
          .field
            = f.label "Контактное лицо: *"
        .large-6.columns
          =# f.text_field :title
        .large-6.columns
          .field
            = f.label "Телефон 1: *"
        .large-6.columns
          =# f.text_field :title
        .large-6.columns
          .field
            = f.label "Телефон 2:"
        .large-6.columns
          =# f.text_field :title
        .large-6.columns
          .field
            = f.label "E-mail: *"
        .large-6.columns
          =# f.text_field :title
        .large-6.columns
          .field
            = f.label "Skype:"
        .large-6.columns
          =# f.text_field :title
        .large-6.columns
          .field
            = f.label "Логотип компании:"
        .large-6.columns
          =# f.text_field :title
        .large-6.columns
          .field
            = f.label "Действую как: *"
        .large-6.columns
          =# f.text_field :title
        .large-6.columns
          .field
            = f.label "Комиссия: *"
        .large-6.columns
          =# f.text_field :title

    .large-12.columns
      Характеристика обьекта::
      .line
      .field
      .large-6.columns
        .large-6.columns
          .field
            = f.label "Тип здания:"
        .large-6.columns
          = f.collection_select :house_type_id, HouseType.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Класс Бизнес Центра:"
        .large-6.columns
          = f.collection_select :business_center_class_id, BusinessCenterClass.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Отдельный вход:"
        .large-6.columns
          = f.collection_select :separate_entrence_id, SeparateEntrence.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Тип квартиры:"
        .large-6.columns
          = f.collection_select :flat_type_id, FlatType.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Срок сдачи дома"
        .large-6.columns
          = f.text_field :publication_date
        .large-6.columns
          .field
            = f.label "Свободно с:"
        .large-6.columns
          = f.text_field :free_from
        .large-6.columns
          .field
            = f.label "Свободно по:"
        .large-6.columns
          = f.text_field :free_to
        .large-6.columns
          .field
            = f.label "Количество комнат:"
        .large-6.columns
          = f.text_field :rooms
        .large-12.columns
          .large-6.columns
            = radio_button_tag 'rooms_type_id', '1'
            смежные
            %br/
            = radio_button_tag 'rooms_type_id', '0'
            раздельные
        .large-12.columns

        .field
          = f.label "Планировка:"
          .large-12.columns
            .large-7.columns
              = f.file_field :layout
            .large-5.columns.link_add
              = image_tag(@advert.layout_url(:small)) if @advert.layout?

        .field
          - i = 0
          = f.fields_for :layouts do |builder|
            .large-12.columns
              .large-7.columns
                = render 'layout_fields', f: builder
              .large-5.columns.link_add
                = image_tag(@advert.layouts[0].image_url(:small)) if @advert.layouts[i].present?
                - i = i + 1
            .large-12.columns.link_add
              = link_to_add_fields "Add Layout", f, :layouts
        .large-6.columns
          .field
            = f.label "Этаж \ этажность: *"
        .large-3.columns
          = f.text_field :floor
        .large-3.columns
          = f.text_field :floors
        .large-6.columns
          .field
            = f.label "Материалы стен:"
        .large-6.columns
          = f.collection_select :house_material_id, HouseMaterial.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Входные двери:"
        .large-6.columns
          = f.collection_select :door_id, Door.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Полы комнат:"
        .large-6.columns
          = f.collection_select :floor_type_id, FloorType.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Санузел (кол-во):"
        .large-6.columns
          = f.text_field :wc_count
        .large-6.columns
          .field
            = f.label "Площадь общая м2: *"
        .large-6.columns
          = f.text_field :area


      .large-6.columns
        .large-6.columns
          .field
            = f.label "Площадь жилая (м2):"
        .large-6.columns
          = f.text_field :life_area

        .large-6.columns
          .field
            = f.label "Площадь кухни (м2):"
        .large-6.columns
          = f.text_field :kitchen
        .large-6.columns
          .field
            = f.label "Состояние ремонта:"
        .large-6.columns
          = f.collection_select :state_repair_id, StateRepair.order(:name), :id, :title, include_blank: true
        .large-6.columns
          .field
            = f.label "Высота потолков (м):"
        .large-6.columns
          = f.text_field :ceill_height
        .large-6.columns
          .field
            = f.label "Земельный участок(сот):"
        .large-6.columns
          = f.text_field :landsize
        .large-6.columns
          .field
            = f.label "Удаленность от Киева"
        .large-6.columns
          = f.text_field :distance
        .large-6.columns
          .field
            = f.label "Дополнительная информация"
        .large-12.columns
          = f.text_area :description, :style => "height: 13em;;"

    .large-12.columns
      .large-6.columns
        Фотографии обьекта:
        .line
        .large-12.columns
          .field
            = f.label "Фото (основное): *"
            %br/
            .large-7.columns
              = f.file_field :image
            .large-5.columns.link_add
              = image_tag(@advert.image_url(:small)) if @advert.image?

          .field
            - i=0
            = f.fields_for :advert_images do |builder|
              .large-12.columns
                .large-7.columns
                  = render 'advert_image_fields', f: builder
                .large-5.columns.link_add
                  = image_tag(@advert.advert_images[i].image_url(:small)) if @advert.advert_images[i].present?
                  - i = i + 1
          .large-12.columns.link_add
            = link_to_add_fields "Добавить фотографию", f, :advert_images

      .large-6.columns
        Видео:
        .line
        .field
          = f.label "Видео"
          %br/
          = f.text_field :video
        .field
          = f.fields_for :movies do |builder|
            = render 'movie_fields', f: builder
        .large-12.columns.link_add
          = link_to_add_fields "Добавить видео", f, :movies
    .large-12.columns
      .line
      .large-8.columns
        .large-2.columns
          .field
            = f.label "Цена: *"
        .large-3.columns
          = f.text_field :usercostforall
          = f.text_field :usercost
        .large-4.columns
          = f.collection_select :currency_user_id, CurrencyUser.order(:name), :id, :title
          .large-12.columns
            = radio_button_tag 'cost', '0', true
            за обьект
            %br/
            = radio_button_tag 'cost', '1'
            за м<sup>2</sup>
        .large-3.columns
    .large-12.columns
      .large-6.columns
        .large-6.columns

          .field
            = f.label "Срок размещения: *"
        .large-6.columns
          = f.collection_select :bussines_period_id, BussinesPeriod.order(:name), :id, :name
    .large-12.columns
      .field
        = f.label "Map: *"
        %br/
        .large-7.columns
          = f.text_field :mapaddress
        .large-5.columns.link_add
          = image_tag(@advert.mapaddress_url(:small)) if @advert.mapaddress?

    .actions
      = f.submit
