%form(ng-controller="IndexController"  ng-model="myForm"  ){:name=>'myForm', :method=>'get'}
  %div.row
    .large-12.columns
      %fieldset
        %legend
          %small Поиск
        .row
          .large-2.columns
            %label.right.inline Тип:
          .large-2.columns
          .large-8.columns
            = radio_button_tag 'living', '1', :"ng-model'=>'myForm.living'"
            жилая
            {{search.living}}
            %br/
            = radio_button_tag 'living', '0', :"ng-model'=>'myForm.living'"
            нежилая
        .row
          .large-4.columns
            %label{:for => "operation_type"} Операция:
          .large-8.columns
            = select_tag(:operation_type, options_for_select(operation,
            :selected=>params[:operation_type].blank? ? "-- Select One --" :params[:operation_type]), {:include_blank => '-- Select One --'} )
        .row
          .large-4.columns
            %label{:for => "category"} Категория:
          .large-8.columns
            = select_tag(:category, options_for_select(category, :selected=>params[:category].blank? ? "" :params[:category]), include_blank: true)
        .row
          .large-4.columns
            %label Свободно:
          .large-8.columns
            = check_box_tag 'state',:class=>"input_1"
        .row
          .large-4.columns
            %label Стоимость:
          .large-4.columns
            = text_field_tag :min_price, params[:min_price], :placeholder=>"min"
          .small-4.columns
            = text_field_tag :max_price, params[:max_price], :placeholder=>"max"
        .row
          .large-4.columns

          .large-8.columns
            = radio_button_tag 'gender', 'all', true
            за все
            %br/
            = radio_button_tag 'gender', 'm2'
            за м2
        .row
          .large-4.columns
            %label Площадь:
          .large-4.columns
            = text_field_tag :min_area, params[:min_area], :placeholder=>"min"
          .large-4.columns
            = text_field_tag :max_area, params[:max_area], :placeholder=>"max"

        .row
          .large-4.columns
            %label Регион:
          .large-8.columns
            = select_tag(:region_id, options_for_select(region), include_blank: true)
        .row
          .large-4.columns
            %label Город:
          .large-8.columns
            = select_tag(:city_id, options_for_select(city), include_blank: true)
        .row
          .large-4.columns
            %label Карта:
          .large-8.columns
            = check_box_tag 'map',:class=>"input_1"
        .row
          .large-centered.columns
            .hr
          .large-centered.columns
            = submit_tag "искать", :id => nil, :class=>"button prefix"
