%div.row
  %div.large-12.columns
    = image_tag @advert.image_url(:big) if @advert.image?
%div.row
  %div.large-12.columns
    %hr
%div.row
  %div.large-12.columns
    %ul.large-block-grid-4.small-block-grid-2
      %li
        %img{:src => "http://placehold.it/190x130&text=foto1"}/
      %li
        %img{:src => "http://placehold.it/190x130&text=foto2"}/
      %li
        %img{:src => "http://placehold.it/190x130&text=foto3"}/
      %li
        %img{:src => "http://placehold.it/190x130&text=foto4"}/
%div.row
  %div.small-block-grid-2.large-12.columns
    .section-container.auto{"data-section" => ""}
      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "#panel1"} Описание
        .content{"data-section-content" => ""}
          %table{:style=>"width: 100%"}
            %thead
              %th{:style=>"width: 25%"}
              %th{:style=>"width: 25%"}
              %th{:style=>"width: 25%"}
              %th{:style=>"width: 25%"}
            %tbody
              %tr
                %td Цена
                %td
                  = @advert.price.to_i
                %td Площадь
                %td
                  = @advert.area.to_i
              %tr
                %td Регион
                %td
                  = @advert.region.title
                %td Город
                %td
                  = @advert.city.title
              %tr
                %td Район
                %td
                  -unless @advert.district.blank?
                    = @advert.district.title
                %td Улица
                %td
                  = @advert.street.title
              %tr
                %td Дом
                %td
                  = @advert.house
                %td Этаж
                %td
                  = @advert.floor.to_i
              %tr
                %td Количество комнат
                %td
                  = @advert.room_number
                %td Категория
                %td
                  = @advert.category.title

      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "#panel3"} Планировка
        .content{"data-section-content" => ""}
          %ul.large-block-grid-4.small-block-grid-2
            %li
              %img{:src => "http://placehold.it/190x130&text=plan1"}/
            %li
              %img{:src => "http://placehold.it/190x130&text=plan2"}/
            %li
              %img{:src => "http://placehold.it/190x130&text=plan3"}/
            %li
              %img{:src => "http://placehold.it/190x130&text=plan4"}/
      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "#panel4"} Видео
        .content{"data-section-content" => ""}
      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "#panel5"} Карта
        .content{"data-section-content" => ""}
          %p Content of section 2.


= link_to 'Edit', edit_advert_path(@advert)
|
\#{link_to 'Back', adverts_path}
