<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @advert.title %>
</p>

<p>
  <b>Operation type:</b>
  <%= @advert.operation_type_id %>
</p>

<p>
  <b>Category:</b>
  <%= @advert.category_id %>
</p>

<p>
  <b>Living:</b>
  <%= @advert.living %>
</p>

<p>
  <b>Price:</b>
  <%= @advert.price %>
</p>

<p>
  <b>Area:</b>
  <%= @advert.area %>
</p>

<p>
  <b>All price:</b>
  <%= @advert.all_price %>
</p>

<p>
  <b>Estate type:</b>
  <%= @advert.estate_type_id %>
</p>

<p>
  <b>Region:</b>
  <%= @advert.region_id %>
</p>

<p>
  <b>City:</b>
  <%= @advert.city_id %>
</p>

<p>
  <b>District:</b>
  <%= @advert.district_id %>
</p>

<p>
  <b>Street:</b>
  <%= @advert.street_id %>
</p>

<p>
  <b>House:</b>
  <%= @advert.house %>
</p>

<p>
  <b>Room number:</b>
  <%= @advert.room_number %>
</p>

<p>
  <b>Floor:</b>
  <%= @advert.floor %>
</p>

<p>
  <b>State:</b>
  <%= @advert.state %>
</p>

<p>
  <b>Image:</b>
  <%= @advert.image %>
</p>

<p>
  <b>Layout:</b>
  <%= @advert.layout %>
</p>

<p>
  <b>Video:</b>
  <%= @advert.video %>
</p>

<p>
  <b>Description:</b>
  <%= @advert.description %>
</p>


<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>
